.card {
    text-align: center;
    border: 2px solid teal;
    padding: 30px;
    margin: 10px;

}

.card:hover {
    cursor: pointer;
}

.card img {
    margin-bottom: 20px;
}

.card .bar {
    width: 100%;
}

.card .name {
    font-size: 20px;
}

 .no-dragon {
    font-size: 20px;
}