.dragon-info {
    margin: 30px 50px;
}

.dragon-info img {
    float:left;
    margin-right: 30px;
}

.dragon {
    width: 70%;
    margin: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
.dragon .dragon-work {
    width: 100%;
}

.dragon .dragon-work .bar {
    width: 100%;
    margin: 10px;

}
.dragon .dragon-content {
    width: 50%;
    margin: 30px;
}
.dragon img {
    width: 70%;
    height: auto;
}

.dragon-work .button {
    padding: 5px 15px;
    color: white;
    background: teal;
    border: teal;
    cursor: pointer;
    width: 100px;
    margin: 10px 10px;
    font-size: 14px;
    font-family: "Century Gothic", serif;
}

.dragon-work .button:focus {
    background: lightseagreen;
}

.dragon-work .button:disabled {
    cursor: not-allowed;
    background: dimgray;
}
#dragon__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}
.dragon-content .name {
    font-size: 30px;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


