.registration-form, .authentication-form {
    background-image: url("/public/dragon_back_1.png"), url("/public/dragon_back_2.png");
    background-position: left bottom, right top;
    background-size: auto 80%, auto 80%;
    background-repeat: no-repeat;
}
.registration-form, .authentication-form, .transfer-form{
width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}
.authentication-form {
    height: 430px;
}
form {
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    border: 3px solid teal;
    width: 50%;

}

a {
    color: darkgrey;
    text-decoration: none;
    font-size: 12px;
}

a:hover {
    color: lightseagreen;
}

form label {
    font-size: 14px;
}

form span {
    color: darkgrey;
    font-size: 12px;
}

form input[type='checkbox'] {
    margin: 10px;
}
form input[type='radio'] {
    margin: 10px;
}

