header {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    font-family: "Century Gothic", serif;
}

.title {
    font-size: 20px;
    color: teal;
    text-shadow: black -3px 2px;
}


nav {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-link {
    font-size: 18px;
    color: black;
    font-weight: bold;
    margin-left: 40px;
    margin-right: 40px;
}

