.order-desk {

    text-align: center;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.order-item {
    border: 1px solid teal;
}
.order-desk table {
    border-collapse: collapse;
    border: 1px solid teal;
    width: 100%;
}

.order-desk caption {
     font-size: 20px;
}

.order-desk td, th{
    border: 1px solid teal;
    padding: 5px;

}

